body {
    font-family: Arial;
    background: #f4f6f8;
}

.navbar {

    background: blue;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
}

.container {

    padding: 20px;
}

.card {

    background: white;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px gray;
}

input {

    padding: 10px;
    width: 70%;
}

button {

    padding: 10px;
    background: green;
    color: white;
    border: none;
}