body {
    font-family: Arial;
    background-color: #f0f2f5;
}

.login-container {

    width: 300px;
    margin: 100px auto;
    padding: 20px;

    background: white;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

input {

    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {

    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#message {

    margin-top: 10px;
    color: red;
}