body {
    font-family: Arial;
    background-color: #f4f6f8;
    text-align: center;
}

h1 {
    color: #333;
}

.container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
    box-shadow: 0px 0px 10px gray;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: left;
}